<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Dickerson Engineering, Inc.</title>
    <link rel="stylesheet" type="text/css" href="../css/bootstrap.css" />
    <link rel="stylesheet" type="text/css" href="../css/bootstrap-grid.css" />
    <link rel="stylesheet" type="text/css" href="../css/bootstrap-reboot.css" />
    <link rel="stylesheet" type="text/css" href="../css/main.css" />
</head>
<body>
<div class="container-fluid" id="bottomNav">
    <div class="row" style="padding-bottom: 40px;">
        <div class="col-4">
            <!--<img src="photos/DEILogo-Big-Borderless.jpg" alt="DEI" style="height: 80px;">-->
            <small>Dickerson Engineering, Inc.</small><br>
            <small>3343 North Ridge Ave.</small><br>
            <small>Arlington Heights, IL  60004</small><br>
            <small>Phone: (847) 966-0290</small><br>
            <small>Email: <a href="mailto:info@dei-pe.com">info@dei-pe.com</a></small>
        </div>
        <div class="col-8" style="text-align: center;">
            <a href="#">Employment Opportunities</a><br>
            <a href="#">Webmail</a><br>
            <a href="#">Meet the Staff</a><br>
            <a href="#">Contact Us</a><br>
            <a href="#">Terms and Conditions</a><br>
        </div>
    </div>
    <hr>
    <div class="bottom">
        <small>All text and images are copyright &copy; 2019 and may not be used without permission. All rights reserved.</small><br>
        <a href="#">website designed by Janelle@DEI</a>
    </div>
</div>
</body>
</html>